<%- include('../cabecalho.ejs') %>

<section class="d-flex justify-content-center align-items-start" style="height: calc(100vh - 70px); background: linear-gradient(135deg, #0f2027, #0f2027, #2c5364);">
    <!-- Cartão de Detalhes do Usuário -->
    <div class="card w-100" style="background: rgba(255, 255, 255, 0.1); backdrop-filter: blur(10px); box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3); border-radius: 15px; max-width: 700px; width: 100%; padding: 30px; margin-top: 100px;">
        <h5 class="card-header" style="background: rgba(0, 0, 0, 0.1); color: #FFB400; font-size: 24px; padding: 15px; border-radius: 10px; text-align: center;">Detalhes do Usuário</h5>
        <div class="card-body" style="color: #fff; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
            <h5 class="card-title" style="font-size: 22px; margin-bottom: 20px;">Nome: <%= usuario.nome %></h5>
            
            <p class="card-text" style="font-size: 18px; margin-bottom: 10px;">Email: <%= usuario.email %></p>
            <p class="card-text" style="font-size: 18px; margin-bottom: 10px;">Endereço: <%= usuario.endereco %></p>
            <p class="card-text" style="font-size: 18px; margin-bottom: 10px;">Telefone: <%= usuario.telefone %></p>
            <p class="card-text" style="font-size: 18px; margin-bottom: 10px;">CPF: <%= usuario.cpf %></p>
            <p class="card-text" style="font-size: 18px; margin-bottom: 20px;">Admin: <%= usuario.admin %></p>

            <p class="card-text" style="font-size: 18px; margin-bottom: 20px;">Equipe: <%= usuario.equipe %></p>

            <!-- Botão Voltar -->
            <div class="d-flex justify-content-center">
                <a href="/admin/usuarios/lst" class="btn btn-warning" style="background-color: #FFB400; color: white; border: none; border-radius: 10px; font-size: 18px; padding: 12px; cursor: pointer;">
                    Voltar
                </a>
            </div>
        </div>
    </div>
</section>

<%- include('../rodape.ejs') %>
