<%-include('../cabecalho.ejs')%>
<section class="col-12 col-md-10">
    <div class="card my-4">
        <h5 class="card-header">Edita Equipe</h5>
        <div class="card-body">
            <form method="post">
                <div class="mb-3">
                    <label for="id" class="form-label">ID</label>
                    <input type="text" name="id" readonly id="id" class="form-control" value="<%=Produto._id%>">
                </div>
                <div class="mb-3">
                    <label for="nome" class="form-label">Nome</label>
                    <input type="text" name="nome" required id="nome" class="form-control" value="<%=Produto.nome%>">
                </div>
              
                <div class="mb-3">
                    <label for="quantidade" class="form-label">Quantidade de Atletas</label>
                    <input type="number" name="quantidade" required id="quantidade" class="form-control" value="<%=Produto.quantidade%>">
                </div>
                <div class="mb-3">
                    <label for="campeonato" class="form-label">Campeonato</label>
                    <input type="text" name="campeonato" required id="campeonato" class="form-control" value="<%=Produto.campeonato%>">
                </div>
                <div class="mb-3">
                    <input type="submit" value="Adicionar" class="form-control">
                </div>
            </form>
        </div>
    </div>
</section>
<%-include('../rodape.ejs')%>